<h1>New Product</h1>
<%= form_tag "/products", method: "post", multipart: true do %>
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Image: <input type="file" name="image">
  </div>
  <input type="submit" value="Create product!">
<% end %>
